*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #232323;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 200px;
}
h1{
    font-size: 78px;
}
.firsth{
    color: pink;
    margin-bottom: 20px;
}
.secondh{
    color: lightblue;
    margin-bottom: 20px;
}
.thirdh{
    color: #6BDFDA;
    margin-bottom: 40px;
}
.text{
    color: whitesmoke;
    font-size: 24px;
    word-wrap: break-word;
    width: 500px;
    margin-bottom: 60px;
}
button{
    color: #232323;
    font-size: 26px;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
button:hover{
    background-color: #6BDFDA;
    transition: all 0.3s;
    transform: scale(1.07);
}
.content{
    height: 100vh;
    gap: 20px;
    grid-template-columns: auto auto auto auto;
    display:grid;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}
.block{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;

}
.one{
    background-color: #ac3e3e;
}
.two{
    background-color: #316490;
}
.three{
    background-color: #88398b;
}
.four{
    background-color: #d1c7c7;
}
.five{
    background-color: #94be29;
}
.six{
    background-color: #3d90b9;
}
.seven{
    background-color: #470707;
}
.eight{
    background-color: #05fe5c;
}
.nine{
    background-color: #d68d0e;
}
.ten{
    background-color: #be12b3;
}
.eleven{
    background-color: #043d47;
}
.twelve{
    background-color: #581cc7;
}
.thirteen{
    background-color: #7ca1a8;
}
.fourteen{
    background-color: #3cbc82;
}
.fiftheen{
    background-color: #ffffff;
}
.sixtheen{
    background-color: #c70f50;
}
.input{
    margin-bottom: 50px;
    width: 300px;
    height: 50px;
    outline: none;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 28px;
    font-family: sans-serif;
    letter-spacing: 3px;
    color: white;
    background-color: #232323;
    margin-left: 10px;
}
.input:focus{
    outline: none;
    border-color:#6BDFDA;
}
::placeholder{
    color: white;
}
#like{
    cursor: pointer;
}
@media only screen and (max-width: 980px){
    .home{
        margin:0;
        margin-bottom: 100px;
        align-items: center;
    }
    .text{
        width:300px;
    }
    body{
        flex-direction: column;
    }
    .content{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
    }
    .block{
        width: 300px;
        height: 300px;
    }
}
@media only screen and (max-width: 1760px) and (min-width: 1420px){
    .home{
        margin:0;
        margin-bottom: 100px;
        align-items: center;
        margin-right: 200px;
        margin-left: 50px;
    }
    .text{
        width:300px;
    }
    body{
        flex-direction: row;
    }
    .content{
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin: 0;
    }
    .block img{
        width: 200px;
        height: 200px;
    }
}
@media only screen and (max-width: 1419px) and (min-width: 981px){
    .content{
        display: grid;
        grid-template-columns: auto auto;
        margin: 0;
    }
    .home{
        margin-left: 100px;
        margin-right: 200px;
    }
    .text{
        width: 400px;
    }
}